[submodule "projects/pubwiki/mediawiki-mcp"]
	path = projects/pubwiki/mediawiki-mcp
	url = git@github.com:pubwiki/mediawiki-mcp.git
[submodule "projects/pubwiki/wikihelper-chat"]
	path = projects/pubwiki/wikihelper-chat
	url = git@github.com:pubwiki/wikihelper-chat.git
[submodule "projects/pubwiki/pubwiki"]
	path = projects/pubwiki/pubwiki
	url = git@github.com:pubwiki/pubwiki.git
[submodule "projects/Thyra/ThyraAccountV1"]
	path = projects/Thyra/ThyraAccountV1
	url = https://github.com/Thyra-Protocol/ThyraAccountV1.git
[submodule "projects/Thyra/Thyra-Demo"]
	path = projects/Thyra/Thyra-Demo
	url = https://github.com/Thyra-Protocol/Thyra-Demo.git
[submodule "projects/Thyra/ThyraCore"]
	path = projects/Thyra/ThyraCore
	url = https://github.com/Thyra-Protocol/ThyraCore.git