#poster {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  min-height: 100vh;

  --elastic-out: linear(
    0, 0.2178 2.1%, 1.1144 8.49%, 1.2959 10.7%, 1.3463 11.81%, 1.3705 12.94%,
    1.3726, 1.3643 14.48%, 1.3151 16.2%, 1.0317 21.81%, 0.941 24.01%, 0.8912 25.91%,
    0.8694 27.84%, 0.8698 29.21%, 0.8824 30.71%, 1.0122 38.33%, 1.0357,
    1.046 42.71%, 1.0416 45.7%, 0.9961 53.26%, 0.9839 57.54%, 0.9853 60.71%,
    1.0012 68.14%, 1.0056 72.24%, 0.9981 86.66%, 1
  );
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  width: 15.7vw;
  max-width: min(150px, 15.5svh);

  svg {
    width: 100%;
    height: auto;
  }
}

.smoooth-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 1024px;
  max-height: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smoooth {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  max-height: 1024px;
  perspective: 100vw;
  font-family: Mori;
  font-size: clamp(78px, 18vw, min(240px, 15.5svh));
  font-weight: bold;
}

.letter {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  height: 1lh;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  text-align: center;
}

/* Safari won't use backface-visibility hidden if this is applied */
@media not all and (pointer: coarse) {
  @supports not (-webkit-hyphens: none) {
    .letter {
      &::before {
        content: attr(data-letter);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate3d(-50%, -50%, -2.25vw);
        backface-visibility: hidden;
        color: transparent;
        text-shadow: 0 -2vh 6vw rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.sticker {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 33.33vw;
  height: 33.33vw;
  max-width: min(484px, 33.33svh);
  max-height: min(484px, 33.33svh);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate3d(-50%, -50%, 0);
  width: 68vw;
  height: 68vw;
  max-width: min(968px, 65svh);
  max-height: min(968px, 65svh);
  border-radius: 50%;
  box-shadow:
    inset 0 2vh 15vw rgba(255, 255, 255, 0.5),
    inset 0 -2vh 7.5vw rgba(0, 0, 0, 0.25),
    0 6vh 10vw rgba(0, 0, 0, 0.15);
}

.controls {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  gap: 1vw;

  button {
    all: unset;
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    color: var(--color-surface-white);
    font-size: 36px;
    line-height: 0;
    appearance: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s var(--elastic-out);

    &:hover {
      transform: scale(1.5);
    }
  }

  .label {
    display: inline-block;
    position: relative;
    user-select: none;
  }
}

#pause {
  .label {
    top: 3px;
    left: -4px;
    
    &::before {
      content: '';
      display: inline-block;
      width: 0.1em;
      height: 0.5em;
      border-radius: 2px;
      background: white;
      box-shadow: 0.2em 0 0 white;
    }
  }
  
  &.paused {    
    .label {
      left: 1px;
      
      &::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 0.4em solid white;
        border-top: 0.25em solid transparent;
        border-bottom: 0.25em solid transparent;
        background: transparent;
        box-shadow: none;
      }
    }
  }
}

#screenshot {
  filter: grayscale(1);

  &:hover .label::before {
    content: '📸';
  }

  .label {
    top: 2px;
    font-size: 26px;

    &::before {
      content: '📷';
    }
  }
}

#reroll {
  .label {
    top: 0;
    transform-origin: center calc(50% + 3.5px);
  }

  &:hover .label {
    transform: rotate(0);
    animation: spin 0.6s ease-in-out forwards;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
